@font-face {
  font-family: "iconfont"; /* Project id 4180212 */
  src: url('./iconfont.woff2?t=1691049890142') format('woff2'),
       url('./iconfont.woff?t=1691049890142') format('woff'),
       url('./iconfont.ttf?t=1691049890142') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwugouwuchedinggou:before {
  content: "\e682";
}

.icon-ziyuan:before {
  content: "\e659";
}

.icon-tianjia3:before {
  content: "\e620";
}

.icon-tianjia2:before {
  content: "\e62c";
}

.icon-xiugai07:before {
  content: "\e738";
}

.icon-shanchu:before {
  content: "\ec7b";
}

.icon-quanbudingdan:before {
  content: "\e600";
}

.icon-shouyefill:before {
  content: "\e750";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-wodeyouhuiquan:before {
  content: "\e65a";
}

.icon-gouxuan:before {
  content: "\e65c";
}

.icon-wode:before {
  content: "\e62f";
}

.icon-fenlei:before {
  content: "\e630";
}

.icon-wodedamaijihuo:before {
  content: "\e656";
}

.icon-gouxuan_:before {
  content: "\e631";
}

.icon-shezhixitongshezhigongnengshezhishuxing-xian:before {
  content: "\e795";
}

.icon-dizhiguanli:before {
  content: "\e694";
}

.icon-fenlei1:before {
  content: "\e612";
}

.icon-jianshao:before {
  content: "\e657";
}

.icon-jianshao1:before {
  content: "\e6c1";
}

.icon-jifenshangcheng:before {
  content: "\e605";
}

.icon-tianjia:before {
  content: "\e613";
}

.icon-jifenshangcheng1:before {
  content: "\e687";
}

.icon-chuangjiantianjiapiliangtianjia:before {
  content: "\e624";
}

.icon-wode-copy:before {
  content: "\ec7f";
}

.icon-shouye-copy:before {
  content: "\ec7c";
}

.icon-fenlei-copy:before {
  content: "\ec7d";
}

.icon-quanbudingdan-copy:before {
  content: "\ec7e";
}

